.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.ipynb_checkpoints/Perlin Noise-checkpoint.ipynb
.kotlin/errors/errors-1725185672475.log
.kotlin/errors/errors-1725185771182.log
.kotlin/errors/errors-1725185802017.log
.kotlin/errors/errors-1725185975249.log
.kotlin/errors/errors-1725186050397.log
.kotlin/errors/errors-1725186063186.log
.idea/.gitignore
.idea/gradle.xml
.idea/kotlinc.xml
.idea/misc.xml
.idea/vcs.xml
